.venv
.venv/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
env/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
.DS_Store
*.egg-info/
dist/
build/
*.log
*.sqlite3
instance/
.pytest_cache/
.coverage
htmlcov/
*.png
*.jpg
*.jpeg
*.gif
*.html
*.pdf
